* {
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

#head-background-container {
    background-image: url('../img/backgroind.jpg');
    background-size: 100% 60%;
    background-position: center top;
    background-repeat: no-repeat;
    height: 70rem;
    width: 100%;
}

#head-logo-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.img-logo {
    width: 9rem !important;
    height: 5rem !important;
}

#head-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 3.5rem;
}

.background-blue-text {
    color: white;
    background-color: #004ba0!important;
    text-transform: uppercase;
    text-align: left;
    padding-right: 1rem;
    font-size: 2.8rem !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
}

#triangle-topright {
    width: 0;
    height: 0;
    border-top: 3.4rem solid #004ba0;
    border-left: 1.2rem solid transparent;
}

.divider {
    display: flex !important;
}

/* LOGOS HOTELS */

#hotel-logos-container {
    margin-top: 12rem;
}

.img-trs-icon {
    width: 6rem !important;
    height: 6rem !important;
    margin: 0rem 2.5rem 0rem 1rem;
}

.img-palladium-icon {
    width: 12rem !important;
    height: 5rem !important;
}

/* FORM */

.form-title-container {
    padding-bottom: 1rem;
}

.form-title {
    color: #004ba0 !important;
    text-transform: uppercase !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    text-align: left !important;
    font-size: 1.3rem !important;
}

#form-container {
    background-color: #ffffff !important;
    padding: 2rem;
    width: 75% !important;
    height: 38rem !important;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6) !important;
    margin-top: 3.5rem;
    margin-right: 2rem;
}

form {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    color: black !important;
    cursor: inherit;
    font: inherit;
    height: 100%;
    box-sizing: border-box !important;
    margin-top: 14px;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.5rem !important;
    font-weight: 100 !important;
}

hr {
    border-top: none #535353 !important;
    border-left: none #535353 !important;
    border-right: none #535353 !important;
    border-bottom: 1px solid #535353 !important;
    bottom: 8px !important;
    box-sizing: content-box !important;
    margin: 0px !important;
    width: 100%;
}

.btn-primary {
    color: white !important;
    background-color: #004ba0 !important;
    text-transform: uppercase !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    height: 4rem;
    width: 7rem;
    font-size: 1.5rem !important;
}

.button-container {
    display: flex !important;
    justify-content: center;
}

.input-container {
    margin: 1.5rem 0 1.5rem 0;
}

.sub-title-container {
    padding-top: 13rem !important;
    width: 100%;
}

.sub-title {
    color: #004ba0 !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100 !important;
    text-align: left !important;
    font-size: 1.8rem !important;
}

/* HEADER MEDIA QUERYS */

/* ======= 1140px ======= */

@media screen and (max-width: 1140px) {
    #head-background-container {
        background-size: 100% 55%;
        height: 57rem;
    }
    #head-logo-container {
        padding-top: 1.1rem;
    }
    .img-logo {
        width: 8rem !important;
        height: 4rem !important;
    }
    #head-title-container {
        margin-top: 2.2rem;
    }
    .background-blue-text {
        padding-right: 0.8rem;
        font-size: 2rem !important;
    }
    #triangle-topright {
        border-top: 2.4rem solid #004ba0;
        border-left: 1rem solid transparent;
    }
    /* LOGOS HOTELS */
    #hotel-logos-container {
        margin-top: 9rem;
    }
    .img-trs-icon {
        width: 3.8rem !important;
        height: 3.8rem !important;
        margin: 0rem 1.8rem 0rem 0.9rem;
    }
    .img-palladium-icon {
        width: 10.5rem !important;
        height: 3.5rem !important;
    }
    /* FORM */
    .form-title-container {
        padding-bottom: 0.3rem;
    }
    .form-title {
        font-size: 0.9rem !important;
        font-weight: 900 !important;
    }
    #form-container {
        padding: 2rem;
        width: 70% !important;
        height: 32rem !important;
        margin-top: 2rem;
        margin-right: 1.6rem !important;
    }
    .input {
        margin-top: 11px;
        font-size: 1.2rem !important;
    }
    .btn-primary {
        height: 3rem;
        width: 6rem;
        font-size: 1.2rem !important;
    }
    .sub-title-container {
        padding-top: 11rem !important;
        width: 100%;
    }
    .sub-title {
        font-size: 1.2rem !important;
    }
}


/*======== 768px ======== */

@media screen and (max-width: 768px) {
    #head-background-container {
        background-size: 100% 32%;
        height: 67rem;
    }
    #head-logo-container {
        padding-top: 1.1rem;
    }
    .img-logo {
        width: 7rem !important;
        height: 3rem !important;
    }
    #head-title-container {
        margin-top: 3.5rem;
    }
    .background-blue-text {
        padding-right: 0.4rem;
        font-size: 1.6rem !important;
    }
    #triangle-topright {
        border-top: 1.8rem solid #004ba0;
        border-left: 0.7rem solid transparent;
    }
    /* LOGOS HOTELS */
    #hotel-logos-container {
        margin-top: 0.8rem;
    }
    .img-trs-icon {
        width: 3rem !important;
        height: 3rem !important;
        margin: 0rem 29.2rem 0rem 1rem;
    }
    .img-palladium-icon {
        width: 9.5rem !important;
        height: 2.5rem !important;
    }
    /* FORM */
    .form-title-container {
        padding-bottom: 0.3rem;
    }
    .form-title {
        font-size: 1.3rem !important;
        font-weight: 500 !important;
    }
    .row-form-container {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    #form-container {
        padding: 2rem;
        width: 70% !important;
        height: 32rem !important;
        margin: 0 !important;
    }
    .input {
        margin-top: 11px;
        font-size: 1.2rem !important;
    }
    .btn-primary {
        height: 2.8rem;
        width: 5.8rem;
        font-size: 1.1rem !important;
    }
    .sub-title-container {
        padding-top: 6rem !important;
    }
    .sub-title {
        font-size: 1.5rem !important;
        text-align: center !important;
    }
}

/*======== 548px ======== */

@media screen and (max-width: 548px) {
    #head-background-container {
        background-size: 100% 23%;
        height: 64rem;
        width: 129vw !important;
    }
    #head-logo-container {
        padding-top: 1rem;
    }
    .img-logo {
        width: 5rem !important;
        height: 1.9rem !important;
    }
    #head-title-container {
        margin-top: 1.8rem;
    }
    .background-blue-text {
        padding-right: 0.1rem;
        font-size: 1.2rem !important;
    }
    #triangle-topright {
        border-top: 1.4rem solid #004ba0;
        border-left: 0.6rem solid transparent;
    }
    /* LOGOS HOTELS */
    #hotel-logos-container {
        margin-top: 0.6rem;
    }
    .img-trs-icon {
        width: 2rem !important;
        height: 2rem !important;
        margin: 0rem 20rem 0rem 1rem;
    }
    .img-palladium-icon {
        width: 8.5rem !important;
        height: 2rem !important;
    }
    /* FORM */
    .form-title {
        font-size: 1.1rem !important;
        font-weight: 300 !important;
    }
    .row-form-container {
        margin-top: 5rem;
    }
    #form-container {
        width: 85% !important;
    }
    .sub-title-container {
        padding-top: 5rem !important;
    }
    .sub-title {
        font-size: 1.3rem !important;
        text-align: center !important;
    }
}

/*======== 375px ======== */

@media screen and (max-width: 375px) {
    #head-background-container {
        background-size: 100% 23%;
        height: 56rem;
    }
    #head-logo-container {
        padding-top: 1rem;
    }
    .img-logo {
        width: 4.5rem !important;
        height: 1.5rem !important;
    }
    #head-title-container {
        margin-top: 1.4rem;
    }
    .background-blue-text {
        padding-right: 0.1rem;
        font-size: 1rem !important;
    }
    #triangle-topright {
        border-top: 1.2rem solid #004ba0;
        border-left: 0.5rem solid transparent;
    }
    /* LOGOS HOTELS */
    #hotel-logos-container {
        margin-top: 0.8rem;
    }
    .img-trs-icon {
        width: 1.5rem !important;
        height: 1.5rem !important;
        margin: 0rem 17.5rem 0rem 0.5rem;
    }
    .img-palladium-icon {
        width: 8rem !important;
        height: 1.5rem !important;
    }
    /* FORM */
    .form-title {
        font-size: 0.9rem !important;
        font-weight: 300 !important;
    }
    .row-form-container {
        margin-top: 4rem;
    }
    #form-container {
        width: 90% !important;
        height: 30rem !important;
    }
    .input {
        margin-top: 8px;
        font-size: 1rem !important;
    }
    .sub-title-container {
        padding-top: 4.5rem !important;
    }
    .sub-title {
        font-size: 1.1rem !important;
        text-align: center !important;
    }
}

/*======== 320px ======== */

@media screen and (max-width: 320px) {
    #head-background-container {
        background-size: 100% 23%;
        height: 52rem;
    }
    #head-logo-container {
        padding-top: 0.7rem;
    }
    .img-logo {
        width: 4rem !important;
        height: 1.3rem !important;
    }
    #head-title-container {
        margin-top: 1rem;
    }
    .background-blue-text {
        padding-right: 0.1rem;
        font-size: 0.9rem !important;
    }
    #triangle-topright {
        border-top: 1rem solid #004ba0;
        border-left: 0.4rem solid transparent;
    }
    /* LOGOS HOTELS */
    #hotel-logos-container {
        margin-top: 1rem;
    }
    .img-trs-icon {
        width: 1.4rem !important;
        height: 1.4rem !important;
        margin: 0rem 15rem 0rem 0.5rem;
    }
    .img-palladium-icon {
        width: 6.5rem !important;
        height: 1.5rem !important;
    }
    /* FORM */
    .form-title {
        font-size: 0.8rem !important;
    }
    .row-form-container {
        margin-top: 3rem;
    }
    #form-container {
        height: 29rem !important;
    }
    .input {
        font-size: 0.9rem !important;
    }
    .sub-title-container {
        padding-top: 3.8rem !important;
    }
    .sub-title {
        font-size: 0.9rem !important;
    }
}

/* ======= H E A D E R  E N D  ========= */

/* ======== C A R D S  S T Y L E S ========== */

.card-title-container {
    display: flex;
    width: 100%;
}

.column-container {
    margin-top: 1rem !important;
    margin-bottom: 6rem !important;
}

.card-title-container {
    display: flex;
    justify-content: space-between;
}

.card-title {
    width: 50%;
    height: 20%;
}

.text-title {
    color: #004ba0;
    font-family: 'Roboto', sans-serif !important;
    font-size: 3rem !important;
}

.text-sub-title {
    color: #004ba0;
    font-family: 'Roboto', sans-serif !important;
    font-size: 2rem !important;
}

.text-header {
    color: white;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.5rem !important;
}

.card-logo {
    width: 30%;
    height: 15%;
}

.card-img {
    background-image: url('../img/palladium-hotel-card.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-head {
    width: 100%;
    height: 7%;
    background-color: #004ba0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-price {
    height: 22rem;
    width: 22rem;
    background-color: white;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-price {
    color: #004ba0;
    font-family: 'Roboto', sans-serif !important;
    font-size: 3rem !important;
    font-weight: 500;
}

.text-detalle {
    color: #004ba0;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.5rem !important;
    font-weight: 300;
}

.card-button {
    padding-bottom: 1.8rem !important;
}

.btn-success {
    color: white !important;
    background-color: #004ba0 !important;
    text-transform: uppercase !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    height: 4rem;
    width: 12rem;
    font-size: 2rem !important;
}

.text-footer-title {
    color: #004ba0;
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.4rem !important;
    font-weight: 300;
    margin: 0 !important;
}

.text-footer {
    color: #004ba0;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: 100;
    margin-top: 0.5rem;
    margin: 0 !important;
}

/* CARDS MEDIA QUERYS */

/* ======= 1140px ======= */

@media screen and (max-width: 1140px) {
    .column-container {
        margin-top: 0.5rem !important;
        margin-bottom: 5rem !important;
    }
    .text-title {
        font-size: 2.2rem !important;
    }
    .text-sub-title {
        font-size: 1.2rem !important;
    }
    .text-header {
        font-size: 1rem !important;
    }
    .card-logo {
        width: 35%;
        height: 20%;
    }
    .card-img {
        height: 35rem;
    }
    .card-head {
        height: 6%;
    }

    .card-price {
        height: 19rem;
        width: 19rem;
       
    }
    
    .text-price {
        font-size: 2.8rem !important;
    }
    .text-detalle {
        font-size: 1.2em !important;
        
    }

    .btn-success {
        
        height: 3.5rem;
        width: 10rem;
        font-size: 1.8rem !important;
    }
    
    .text-footer-title {
    
        font-size: 1.2rem !important;
    }
    
    .text-footer {
    
        font-size: 0.85rem !important;
        font-weight: 100;
        margin-top: 0.5rem;
       
    }
}



/* ======= 768px =========*/

@media screen and (max-width:768px) {
    
    .cards-container {
       width: 70% !important;
       margin-top: 4rem !important;
    }
    .wrapper-container{
        margin: 0 !important;
        padding: 0 !important;
    }

    .column-container {
        margin-top: 1rem !important;
        margin-bottom: 3rem !important;
    }
    
    .text-title {
        font-size: 1.6rem !important;
    }
    .text-sub-title {
        font-size: 1rem !important;
    }
    .text-header {
        font-size: 0.9rem !important;
    }
    .card-logo {
        width: 30%;
        height: 15%;
    }
    .card-img {
        height: 33rem;
    }
    .card-head {
        height: 5%;
    }

    .card-price {
        height: 17rem;
        width: 17rem;
       
    }
    
    .text-price {
        font-size: 2.5rem !important;
    }
    .text-detalle {
        font-size: 1.1em !important;
        
    }

    .btn-success {
        
        height: 3.3rem;
        width: 9.8rem;
        font-size: 1.5rem !important;
    }
    
    .text-footer-title {
    
        font-size: 1.1rem !important;
    }
    
    .text-footer {
    
        font-size: 0.80rem !important;
        font-weight: 100;
        margin-top: 0.5rem;
       
    }
}



/*======== 548px ======== */

@media screen and (max-width:548px) {
    
    .cards-container {
       width: 129vw !important;
    }
   
    .card-img {
        height: 32rem;
    }
    
    .card-price {
        height: 16rem;
        width: 16rem;
       
    }
    
    .text-price {
        font-size: 2.2rem !important;
    }
    .text-detalle {
        font-size: 1em !important;
        
    }

    .btn-success {
        
        height: 2.9rem;
        width: 8rem;
        font-size: 1.3rem !important;
    }
    
    .text-footer-title {
    
        font-size: 1rem !important;
    }
    
    .text-footer {
    
        font-size: 0.75rem !important;
       
    }
}



/*======== 375px ======== */

@media screen and (max-width:375px) {
    


    
    
    .text-title {
        font-size: 1.6rem !important;
    }
    .text-sub-title {
        font-size: 1rem !important;
    }
    .text-header {
        font-size: 0.9rem !important;
    }
    .card-logo {
        width: 30%;
        height: 15%;
    }
    .card-img {
        height: 30rem;
    }
    .card-head {
        height: 7%;
    }

    .card-price {
        height: 15rem;
        width: 15rem;
       
    }
    
    .btn-success {
        
        height: 2.4rem;
        width: 7.5rem;
        font-size: 1.1rem !important;
    }
    
    
}


/*======== 320px ======== */

@media screen and (max-width:320px) {
    


    
    
    .text-title {
        font-size: 1.4rem !important;
    }
    .text-sub-title {
        font-size: 0.9rem !important;
    }
    
    .card-img {
        height: 28rem;
    }
    .card-head {
        height: 8%;
    }

    .card-price {
        height: 14rem;
        width: 14rem;
       
    }
    
    .btn-success {
        
        height: 2.3rem;
        width: 6.5rem;
        font-size: 1rem !important;
    }

    .text-footer-title {
    
        font-size: 0.95rem !important;
    }
    
    .text-footer {
    
        font-size: 0.65rem !important;
        
       
    }
    
    
}